* :not(mat-icon) {
  font-family: cursive;
}

.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

mat-card {
  width: 90vw;
  border-radius: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-checkbox {
  padding: 10px;
  max-width: 67vw;
  // overflow: scroll;
  // pointer-events: none;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  color: whitesmoke;
}

.create-button {
  background: #00c04b;
  color: #fff;
}
