<ng-container *ngIf="todos">
  <form [formGroup]="form" *ngIf="form">
    <div class="dashboard-container">
      <h1
        class="my-5 animate__animated animate__pulse"
        *ngIf="mode === 'create'"
      >
        Criar Tarefa
      </h1>
      <h1 class="my-5 animate__animated animate__pulse" *ngIf="mode === 'list'">
        Minhas Tarefas
      </h1>

      <div class="mb-5">
        <button
          class="animate__animated animate__rotateIn"
          mat-mini-fab
          color="accent"
          type="button"
          *ngIf="mode === 'create'"
          (click)="mode = 'list'"
        >
          <mat-icon>close</mat-icon>
        </button>

        <button
          class="animate__animated animate__rotateIn"
          mat-mini-fab
          style="background: green; color: white"
          type="button"
          *ngIf="mode === 'list'"
          (click)="mode = 'create'"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-card
        *ngIf="mode === 'create'"
        class="mb-1 mat-elevation-z6 create-card animate__animated animate__flipInX"
      >
        <mat-form-field class="w-100">
          <mat-label>Criar tarefa</mat-label>
          <input
            matInput
            #message
            minlength="5"
            maxlength="30"
            formControlName="description"
          />
          <mat-hint align="end">{{ message.value.length }} / 30</mat-hint>
          <mat-error
            class="mb-1"
            *ngIf="form.controls['description'].hasError('required')"
            >Insira uma tarefa para prosseguir</mat-error
          >
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button
            class="mt-3"
            color="primary"
            mat-mini-fab
            (click)="createTodo()"
            [disabled]="form.controls['description'].hasError('required')"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>

      <mat-card
        *ngIf="mode === 'list'"
        class="mat-elevation-z6 list-card animate__animated animate__flipInX"
      >
        <div *ngIf="!todos?.length">
          Ahh... Nenhuma tarefa para hoje <span>☹</span>
        </div>
        <ng-container *ngFor="let todo of todos; index as i">
          <div class="list-container">
            <mat-checkbox
              [ngClass]="{ done: todo.done }"
              type="text"
              class="py-3"
              formControlName="description"
              (click)="toggleDoneTask(todo)"
            >
              {{ todo.description }}
              <mat-icon class="done-icon" *ngIf="todo.done">done</mat-icon>
            </mat-checkbox>
            <button
              mat-mini-fab
              color="warn"
              type="button"
              (click)="onDeleteTodo(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </form>
</ng-container>
