<form [formGroup]="form" *ngIf="form">
  <div class="container-fluid">
    <h1 class="text-center my-5">Lista de tarefas</h1>
    <mat-card class="mat-elevation-z8">
      <span *ngIf="!todos?.length">Nenhuma tarefa encontrada</span>
      <ng-container *ngFor="let todo of todos; index as i">
        <div class="d-flex flex-column">
          <div>
            <mat-checkbox
              type="text"
              class="me-4 p-2"
              formControlName="description"
            >
              {{ todo.id }} - {{ todo.description }}</mat-checkbox
            >
            <button class="btn btn-sm btn-primary me-2">Concluir</button>
            <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">
              Remover
            </button>
          </div>
        </div>
      </ng-container>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Criar tarefa</mat-label>
        <input matInput #message maxlength="50" formControlName="description" />
        <mat-hint align="start"
          ><strong>Quantidade de caracteres</strong>
        </mat-hint>
        <mat-hint align="end">{{ message.value.length }} / 50</mat-hint>
        <mat-error
          class="mb-1"
          *ngIf="form.controls['description'].hasError('required')"
          >Insira uma tarefa para proseguir</mat-error
        >
      </mat-form-field>
      <button class="mt-3" (click)="createTodo()" [disabled]="form.invalid">
        Adicionar
      </button>
    </mat-card>
  </div>
</form>
